
.BIGCONTAINER {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  display: flex;
  background-color: #fffdd0;

  flex-direction: column;
  margin: 10px;
  /* width: 1200px; */
  min-width:1200px;
  max-width:1400px;

}

.header {
  display: flex;
  border: 3px solid rgb(117, 117, 117);
  justify-content: space-between;
  align-content: space-around;
  height: 70px;
}
.title {
  margin: 10px
}
.logo {
  margin: 10px
}

.product-overview-container {
  display:flex;
  flex-direction: row;
  height: 800px;
}

.image-gallery-product-description {
  display:flex;
  flex-direction: column;
  width: 70%;
  border: 3px solid rgb(117, 117, 117);
  border-top:none;
}

.carousel-container {
  display:flex;
  height: 80%;
  justify-content: center;
  width: 100%;
  border-bottom: 3px solid rgb(117, 117, 117);
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative
}

.carousel-content-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
  -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
  scrollbar-width: none;  /* hide scrollbar in Firefox */
}

.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}

.left-arrow, .right-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: white;
  border: 1px solid #ddd;
}

.left-arrow {
  left: 24px;
}

.right-arrow {
  right: 24px;
}

.product-description {
  display:flex;
  flex-direction: column;
}


.style-selection {
  display:flex;
  flex-direction: column;
  height: 70%;
}


.cart {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 3px solid rgb(117, 117, 117);
  justify-content: center;
  align-items: center;
}



.related-products-outfits {
  display: flex;
  flex-direction: column;
  height: 400px;
  border: 3px solid rgb(117, 117, 117);
  border-top: none;


}

.related-products {
  display: flex;
  flex-direction: row;
  height: 50%;
  border-bottom: 3px solid rgb(117, 117, 117);
}

.outfits {
  display: flex;
  flex-direction: row;
  height: 50%;
}

.qa-search-container {
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(117, 117, 117);
  border-top:none
}

.qa-search {
  display:flex;

  justify-content: space-around;
}

.question-answer-helpful-container {
  display: flex;
  flex-direction: row;
  border-top: 3px solid rgb(117, 117, 117);
}

.question-answer-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  border-right: 3px solid rgb(117, 117, 117);
}
.question {
  height: 30px;
}
.answer {
  height: 60px;
}

.ratings-reviews-container {
  display: flex;
  flex-direction: row;
  border: 3px solid rgb(117, 117, 117);
  border-top:none;
}

.ratings-meta-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  border-right: 3px solid rgb(117, 117, 117);

}

.reviews-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.reviews-header {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  border-bottom: 3px solid rgb(117, 117, 117);
}

.review-container {
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid rgb(117, 117, 117);
  margin-top: 15px;
  margin-bottom: 15px;
}