version: 2.1
orbs:
  node: circleci/node@2.0.2
workflows:
  node-tests:
    jobs:
      build:
        executor:
          name: node/default
          tag: '10.4'
        steps:
          - checkout
          - node/with-cache:
              steps:
                - run: npm install
          - run: npm run test